---
import MainLayout from "@/layouts/main-layout.astro";
---

<MainLayout
  title="About Me"
  description="Welcome to the Master RPG Framework - Your Ultimate Solution for Unreal Engine 5 Game Development"
  mainClass="container py-10"
>
<section class="space-y-5">
    <h1 class="font-heading text-4xl">About Page</h1>
    <p class="leading-loose">
      Welcome to the Master RPG Framework, a comprehensive set of assets designed exclusively for Unreal Engine 5. Whether you're an experienced game developer or just starting out, our framework empowers you to bring your game ideas to life quickly and effortlessly.
    </p>

    <div class="pl-6">
      <h2 class="font-bold">Key Features:</h2>
      <ol class="list-decimal pl-6 space-y-2">
        <li>
          <strong>Streamlined Game Development:</strong>
          Master RPG Framework is tailored to accelerate your game development process. From handling HTTP requests to managing inventory and UI elements, we provide a robust suite of tools that seamlessly integrate with Unreal Engine 5.
        </li>

        <li>
          <strong>HTTP Request Integration:</strong>
          Effortlessly incorporate HTTP requests into your game, opening up possibilities for dynamic content, real-time updates, and online interactions. Our framework simplifies the integration process, allowing you to focus on crafting engaging gameplay.
        </li>

        <li>
          <strong>Comprehensive Inventory System:</strong>
          Building an intricate inventory system is no longer a daunting task. Master RPG Framework comes equipped with a sophisticated inventory management system, ensuring that your in-game items are organized, accessible, and customizable to suit your game's unique requirements.
        </li>

        <li>
          <strong>Intuitive UI Management:</strong>
          Crafting a user-friendly and visually appealing user interface is crucial for player engagement. With our UI management tools, you can effortlessly design and implement intuitive interfaces that enhance the overall gaming experience.
        </li>

        <li>
          <strong>Modularity and Flexibility:</strong>
          We understand that every game is unique. That's why Master RPG Framework is designed with modularity and flexibility in mind. Easily tailor the framework to suit the specific needs of your game, ensuring a seamless integration into your project.
        </li>
      </ol>
    </div>

    <div class="pl-6">
      <h2 class="font-bold">Why Choose Master RPG Framework?</h2>
      <ul class="list-disc pl-6 space-y-2">
        <li>
          <strong>Time-Saving:</strong> Cut down on development time with pre-built tools and features.
        </li>

        <li>
          <strong>Community Support:</strong> Join a vibrant community of developers using Master RPG Framework, and benefit from shared knowledge and resources.
        </li>

        <li>
          <strong>Documentation:</strong> Our comprehensive documentation guides you through every aspect of the framework, making implementation straightforward.
        </li>
      </ul>
    </div>

    <p class="leading-loose">
      Take your game development journey to new heights with Master RPG Framework. Dive into a world of possibilities and start creating your dream game today!
    </p>
  </section>
</MainLayout>
