---
import { SEO } from "astro-seo";
// import Footer from "@components/footer.astro";
import Navbar from "@components/navbar/navbar.astro";
import "@fontsource/inter/variable.css";
export interface Props {
  title: string;
}
// const { src } = await getImage({
//   src: "../../assets/hero.png",
//   width: 800,
//   height: 742,
//   format: "avif",
// });
// console.log(src);
const canonicalURL = new URL(Astro.url.pathname, Astro.site).toString();
const resolvedImageWithDomain = new URL(
  "/opengraph.jpg",
  Astro.site
).toString();
const { title } = Astro.props;
const makeTitle = title
  ? title + " | " + "Astroship"
  : "Astroship - Starter Template for Astro with Tailwind CSS";
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />

    <!-- <link rel="preload" as="image" href={src} alt="Hero" /> -->
    <SEO
      title={makeTitle}
      description="Astroship is a starter website template for Astro built with TailwindCSS."
      canonical={canonicalURL}
      twitter={{
        creator: "@surjithctly",
        site: "@web3templates",
        card: "summary_large_image",
      }}
      openGraph={{
        basic: {
          url: canonicalURL,
          type: "website",
          title: `Astroship - Starter Template for Astro`,
          image: resolvedImageWithDomain,
        },
        image: {
          alt: "Astroship Homepage Screenshot",
        },
      }}
    />
  </head>
  <body class="bg-master-100" >
    <Navbar />
    <slot />
    <footer class="my-20">
        <p class="text-center text-sm text-slate-500">
          Copyright © {new Date().getFullYear()} Master Inventory. All rights reserved.
        </p>
    </footer>
    <!-- <Footer /> -->
    <style is:global>
      /* Improve Page speed */
      /* https://css-tricks.com/almanac/properties/c/content-visibility/ */
      img {
        content-visibility: auto;
      }

        h1 {
            @apply text-yellow-200 !important;
            @apply text-5xl font-bold !important;
        }
        h1:hover {
            @apply text-yellow-500 !important;
            @apply text-5xl font-bold !important;
            @apply transform !important;
            @apply scale-105 !important;
            @apply transition-all !important;
            @apply duration-500 !important;
        }
        h2:hover {
            @apply text-yellow-300 !important;
            @apply font-bold !important;
            @apply transform !important;
            @apply scale-105 !important;
            @apply transition-all !important;
            @apply duration-500 !important;
        }
        h3:hover {
            @apply text-yellow-400 !important;
            @apply font-bold !important;
            @apply transform !important;
            @apply scale-105 !important;
            @apply transition-all !important;
            @apply duration-500 !important;
        }


        h2 {
            @apply text-yellow-300 !important;
            @apply font-bold !important;
        }

        h3 {
            @apply text-yellow-400 !important;
            @apply font-bold !important;
        }
        span {
            @apply text-rarity-artifact;
        }
        li {
            @apply text-master-text-100;
        }
        time {
            @apply text-rarity-epic;
        }
        p {
            @apply text-master-text-100;
            @apply text-xl text-center;
        }
        a {
            @apply text-yellow-500 !important;
        }

        img {
            @apply rounded !important;
            @apply border-yellow-500 !important;
            @apply border-2 !important;
            @apply hover:shadow-2xl !important;
            @apply hover:scale-105 !important;
            @apply transition-all !important;
            @apply duration-500 !important;

        }

        ::selection {
            @apply bg-yellow-500 !important;
            @apply text-master-100 !important;
        }

        table {
            @apply border-collapse !important;
            @apply border-2 !important;
            @apply border-yellow-500 !important;
            @apply rounded !important;
            @apply text-center !important;
            @apply text-xl !important;
            @apply text-master-text-100 !important;
            @apply bg-master-200 !important;
        }
        th {
            @apply border-2 !important;
            @apply border-yellow-500 !important;
            @apply bg-yellow-500 !important;
            @apply text-master-100 !important;
            @apply text-xl !important;
        }

        tr:hover {
            @apply bg-yellow-500 !important;
            @apply text-master-100 !important;
            @apply transform !important;
            @apply scale-105 !important;
            @apply transition-all !important;
            @apply duration-500 !important;
            @apply border-2 !important;
            @apply border-yellow-500 !important;
            @apply rounded !important;
        }
        /* For all the link we are goin to add a yellow border */
        .rpgButton {
            @apply border-yellow-500;
            @apply border-2;
            @apply rounded;
            @apply p-2;
            @apply text-yellow-500;
            @apply bg-master-200;
        }
        .rpgButton:hover {
            @apply transform;
            @apply scale-105;
            @apply transition-all;
            @apply duration-500;
        }
    </style>
  </body>
</html>
